<div class="form-group">
  <form [formGroup]="dropdownFrom">
    <div class="row col-sm-12">
    <div class="col-sm-4">
      <app-drop-down-list 
        [objectList]='objectList' 
        [displayProperty]='displayProperty' 
        [value]='value'
        [defaultName]='defaultName' 
        (selectedValue)='onSelectedValue($event)' >
      </app-drop-down-list>
    </div>
    <div class="col-sm-4">
      Selected: <input type="text" formControlName="selectedItem">
    </div>
  </div>
  </form>
</div>